@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
}

:root {
  /* color */
  --textPrimaryColor: #347AE2;
  --textDarkColor: #000000;
  --textLightColor: #969696;
  --btnTextColor: #FDFDFD63;

  /* background */
  --backgroundPrimary: #5595EA;
  --backgroundBtn: #9FC9EF;

  /* padding */
  --padding: 0 21px;
}